# dependencies
node_modules

# output
out
build
dist
.svelte-kit
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo
.cache
CACHE_DIR

# IntelliJ based IDEs
.idea

# Vercel
.vercel

# Finder (MacOS) folder config
.DS_Store
